In [1]:
import pandas as pd
from pandas import Series, DataFrame
import numpy as np

In [6]:
dframe = DataFrame({'city':['Alma','Brian','Fox'],
                  'altitude':[3158,3000,2762]})
dframe

   altitude   city
0      3158   Alma
1      3000  Brian
2      2762    Fox

In [7]:
#add column for each state
state_map = {'Alma':'Colorado','Brian':'Utah','Fox':'Wyoming'}

In [8]:
dframe['state'] = dframe['city'].map(state_map)

In [9]:
dframe

   altitude   city     state
0      3158   Alma  Colorado
1      3000  Brian      Utah
2      2762    Fox   Wyoming