In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

from numpy.random import randn

In [2]:
ser1 = Series([1,2,3,4],index = ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value = 0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [12]:
ser3 = Series(['USA','Mexico','Canada'],index=[0,5,10])
ser3

0        USA
5     Mexico
10    Canada
dtype: object

In [13]:
ranger = range(15)
ranger

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [15]:
ser3.reindex(ranger,method='ffill')
#forward fill(ffill)

0        USA
1        USA
2        USA
3        USA
4        USA
5     Mexico
6     Mexico
7     Mexico
8     Mexico
9     Mexico
10    Canada
11    Canada
12    Canada
13    Canada
14    Canada
dtype: object

In [17]:
#reindex columns and rows
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','D','E','F'],columns=['col1','col2','col3','col4','col5'])
dframe

       col1      col2      col3      col4      col5
A  1.079611  2.482606 -0.185950  0.554767 -1.218454
B -0.563335 -0.656931 -1.263291  0.504225  1.640370
D -0.258512  1.129351  0.066085 -0.798727 -0.613699
E -0.467153  1.001627 -0.189076 -0.674175 -0.594389
F -0.259748  0.611588  0.665929  1.956413  0.216478

In [19]:
dframe2 = dframe.reindex(['A','B','C','D','E','F'])
dframe2

       col1      col2      col3      col4      col5
A  1.079611  2.482606 -0.185950  0.554767 -1.218454
B -0.563335 -0.656931 -1.263291  0.504225  1.640370
C       NaN       NaN       NaN       NaN       NaN
D -0.258512  1.129351  0.066085 -0.798727 -0.613699
E -0.467153  1.001627 -0.189076 -0.674175 -0.594389
F -0.259748  0.611588  0.665929  1.956413  0.216478

In [20]:
new_columns = ['col1','col2','col3','col4','col5','col6']

In [21]:
dframe2.reindex(columns=new_columns)

       col1      col2      col3      col4      col5  col6
A  1.079611  2.482606 -0.185950  0.554767 -1.218454   NaN
B -0.563335 -0.656931 -1.263291  0.504225  1.640370   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.258512  1.129351  0.066085 -0.798727 -0.613699   NaN
E -0.467153  1.001627 -0.189076 -0.674175 -0.594389   NaN
F -0.259748  0.611588  0.665929  1.956413  0.216478   NaN

In [22]:
dframe

       col1      col2      col3      col4      col5
A  1.079611  2.482606 -0.185950  0.554767 -1.218454
B -0.563335 -0.656931 -1.263291  0.504225  1.640370
D -0.258512  1.129351  0.066085 -0.798727 -0.613699
E -0.467153  1.001627 -0.189076 -0.674175 -0.594389
F -0.259748  0.611588  0.665929  1.956413  0.216478

In [25]:
dframe.ix[['A','B','C','D','E','F'],new_columns]

       col1      col2      col3      col4      col5  col6
A  1.079611  2.482606 -0.185950  0.554767 -1.218454   NaN
B -0.563335 -0.656931 -1.263291  0.504225  1.640370   NaN
C       NaN       NaN       NaN       NaN       NaN   NaN
D -0.258512  1.129351  0.066085 -0.798727 -0.613699   NaN
E -0.467153  1.001627 -0.189076 -0.674175 -0.594389   NaN
F -0.259748  0.611588  0.665929  1.956413  0.216478   NaN