In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [13]:
np.random.seed(12345)

In [14]:
dframe = DataFrame(np.random.randn(1000,4))

In [15]:
dframe.head()

          0         1         2         3
0 -0.204708  0.478943 -0.519439 -0.555730
1  1.965781  1.393406  0.092908  0.281746
2  0.769023  1.246435  1.007189 -1.296221
3  0.274992  0.228913  1.352917  0.886429
4 -2.001637 -0.371843  1.669025 -0.438570

In [16]:
dframe.tail()

            0         1         2         3
995  1.089085  0.251232 -1.451985  1.653126
996 -0.478509 -0.010663 -1.060881 -1.502870
997 -1.946267  1.013592  0.037333  0.133304
998 -1.293122 -0.322542 -0.782960 -0.303340
999  0.089987  0.292291  1.177706  0.882755

In [17]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067684     0.067924     0.025598    -0.002298
std       0.998035     0.992106     1.006835     0.996794
min      -3.428254    -3.548824    -3.184377    -3.745356
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       3.366626     2.653656     3.260383     3.927528

In [18]:
col = dframe[0]

In [19]:
col.head()

0   -0.204708
1    1.965781
2    0.769023
3    0.274992
4   -2.001637
Name: 0, dtype: float64

In [20]:
#absolute value
col[np.abs(col)>3]

523   -3.428254
900    3.366626
Name: 0, dtype: float64

In [21]:
dframe[{np.abs(dframe)>3}.any(1)]

TypeError: 'DataFrame' objects are mutable, thus they cannot be hashed

In [23]:
dframe[np.abs(dframe)>3] = np.sign(dframe)*3

In [25]:
dframe.describe()

                 0            1            2            3
count  1000.000000  1000.000000  1000.000000  1000.000000
mean     -0.067623     0.070473     0.023153    -0.000081
std       0.987408     0.986061     0.983883     0.977526
min      -2.969411    -2.989741    -2.925113    -2.881858
25%      -0.774890    -0.591841    -0.641675    -0.644144
50%      -0.116401     0.101143     0.002073    -0.013611
75%       0.616366     0.780282     0.680391     0.654328
max       2.666744     2.653656     2.954439     2.735527